<header>
  <button class="hamburger">&#9776;</button>
  <button class="cross">&#735;</button>
  <a href="index.html">
<img src="images/mayday_logos_small18.png" style="width:50%;height:100%;border:0;">

</a>
</header>

  <!-- TODO need to figure out how to style the logo so it's not squished--> -->

<div class="menu">
  <ul>
    <a href="strategy.html"><li>Strategy</li></a>
    <a href="community.html"><li>Community Building</li></a>
    <a href="digital.html"><li>Digital Marketing</li></a>
    <a href="content.html"><li>Content Creation</li></a>
     <a href="collab.html"><li>Collaborations</li></a>
    <a href="casestudy.html"><li>Case Studies</li></a>
    <a href="#"><li>Contact</li></a>
  </ul>
</div>
