<!DOCTYPE html>
<html>
  {% include head.html %}
  
  <!-- This is the gsuit meta include -->
  <meta name="google-site-verification" content="fMlvBsv_9DlYTuqUpcPcCA7C3BXzDFMnM517EN084RU" />

  <body class="{{page.page_class}}">
    {% include site-header.html %}

    {{ content }}

    <!-- Footer -->
      {% include site-footer.html %}
    <!-- EndFooter -->

    <!-- Adding jquery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- isotope plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.3/isotope.pkgd.min.js"></script>

    <!-- adding main js.file -->
    <script src="/js/main.js"></script>

  </body>
</html>
