---
layout: default
title: Mayday Collective | Strategy
---
<!-- Start Header -->


<!-- Start description -->
<section class="grid description">
   <h1 class="title col-12">Strategy and Account Management</h1>
  <div class="col">
    {{content}}
  </div>

{% if page.has-bullets == true %}
  <ul class="col-3 border-left bullet-position">
      {% for bullet in page.bullets %}
    <li> {{bullet.text}} </li>
    {% endfor %}
  </ul>
  {% endif %}

</section>
</header>
<!-- End Description -->
<!-- END Header -->

<!-- start photo section -->
<section id="photos" class="grid center photos">
  {% for photo in page.visuals %}
  <div class="col">
  <img src="{{photo.src_path}}">
</div>
{% endfor %}
</section>

<!-- SHOW AND TELL -->
<section class="show">
  <div class="results">
    <h2 class="center"> Results</h2>
{% if page.has-results == true %}
    <p>{{page.results}}</p>
      <div class=" grid-{{page.stat-number}}">
    {% for stat in page.results_stats %}
      <div class="col statbox center">
    <h2>{{stat.stat}}</h2>
    <h4>{{stat.text}}<h4>
  </div>
    {% endfor %}
{% endif %}
</div>
</div>
<!-- CASE STUDIES -->
<div class="center grid">
  <h3 class= "col-12"> Relevant Case Studies </h3>

  {% for post in site.categories[page.category] %}
    <a class="col-6" href="{{case.url}}">{{post.title}}</a>
  {% endfor %}
</div>
</section>

<!-- Start Footer -->
<footer>
</footer>
<!-- End footer -->
